body{
    background-color: #000000;
}
.main-container {
    display: flex;
    width: 100%;
    height:fit-content;
    flex-direction: column;
}
header{
    padding:10px;
    margin-top: 0px;
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #797575;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}
.logo {
    width: 140px;
    height: 50px;
    padding: 10px;
}
.bar-icon {
    display: flex;
    flex-grow: 0.7;
}

.bar-icon a,.loginAndTriGPT a {
    margin: 0 20px; /* Add margin between the links for spacing */
    text-decoration: none;
    color: #FFFFFF; /* Set the color of the links */
    font-size: 18px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.linkAndbutton {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.Dell_3 {
    color: #FFFFFF;
}
.bar-icon a:hover,.loginAndTriGPT a:hover, .top-heading-paragraph a:hover{
    text-decoration: underline;
}
.in-right-divition{
    margin: 0 20px; /* Add margin between the links for spacing */
    text-decoration: none;
    color: #FFFFFF; /* Set the color of the links */
    font-size: 28px;
    font-weight: 400;
    margin: 2px;
    font-family: 'Times New Roman', Times, serif;
}
.in-rightside-details5{
    margin: 0 20px; /* Add margin between the links for spacing */
    text-decoration: none;
    color: #FFFFFF; /* Set the color of the links */
    font-size: 28px;
    line-height: 33.6px;
    letter-spacing: -0.28px;
    font-weight: 400;
    margin: 2px;
    font-family: 'Times New Roman', Times, serif;
}
.loginAndTriGPT {
    display: flex;
    justify-content: center;
    margin-right: 20px;
}
.transparent-button {
    background-color: transparent; /* Set the background color to transparent */
    border: 1px solid #fff; /* Add a border to the button */
    color: #fff; /* Set the text color to white */
    padding: 5px 10px; /* Add padding to the button */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
}
.ramining_details{
    color: #FFFFFF;
}
.divition1{
    align-items: center;
    width: 500px;
    height: fit-content;
    font-weight: 400;
    padding-left: 18%;
    padding-top: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.top-heading {
    font-size: 167px;
    font-weight: 400;
    margin-bottom: 10px;
}
.top-heading-paragraph {
    margin-top: 0px;
    font-size: 28px;
    font-stretch: 100%;
    line-height:33.6px;
}
.imagesOfdivition1{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.IOD1{
    width: 320px;
    height: 300px;
}
.divition2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.left-text-details{
    font-size: 48px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 52.8px;
    font-weight: 400;
    font-feature-settings: "liga";
    margin-bottom: 100px;
}
.leftdivition {
    width: 1700px;
}
.divition3 {
    padding-bottom: 60px;
}
.topText-details{
    font-family: 'Times New Roman', Times, serif;
    font-size: 55px;
    line-height: 60.5px;
    vertical-align: baseline;
    letter-spacing: -0.55px;
    font-weight: 400;
    font-feature-settings: "liga";
    text-align: start;
    margin-top: 0px;
    color: #FFFFFF;
}
.divition4 {
    display: flex;
    flex-direction: column;
}
.image-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.imageOfdivition4-details {
    width: 650px;
}
.divition5{
    background-color: #3d3d47;
    margin-bottom: 80px;
}
.image-container-bottomtext{
    font-size: 12px;
    font-family: sans-serif;
    line-height: 15.6px;
    vertical-align: baseline;
    font-weight: 400;
    font-stretch: 100%;
    margin-bottom: 100px;

}
.textportion2,.textportion3,.textportion4,.textportion5,.textportion6, .textportion7
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;
}
.textportion9 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;
    align-items: baseline;
}
.lefside-details1,.lefside-details2,.lefside-details5{
    font-family: 'Times New Roman', Times, serif;
    font-size: 48px;
    line-height: 52.8px;
    vertical-align: baseline;
    letter-spacing: -0.96px;
    margin: 0px;
    font-weight: 400;
    font-stretch: 100%;
    font-feature-settings: "liga";
    width: 700px;
    color: #FFFFFF;
}
.lefside-details8{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 23.4px;
    vertical-align: baseline;
    letter-spacing: -0.96px;
    margin-top: 0px;
    margin-left: 20px;
    font-weight: 400;
    font-stretch: 100%;
    font-feature-settings: "liga";
    text-align: start;
    vertical-align: baseline;
    color: #FFFFFF;
}
.rightside-end-bar-icon{
    margin-right:20px;
}
.rightside-details1,.rightside-details2,.rightside-details5{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    line-height: 33.6px;
    vertical-align: baseline;
    letter-spacing: -0.26px;
    font-weight: 400;
    font-stretch: 100%;
    text-align: start;
    color: #FFFFFF;
    margin: 0px;

}
.lefside-details3,.lefside-details4,.lefside-details7{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    line-height: 33.6px;
    vertical-align: baseline;
    letter-spacing: -0.28px;
    font-weight: 700;
    font-stretch: 100%;
    text-align: start;
    color: #FFFFFF;
    margin: 0px;
    width: 700px;  
}
.rightside-details3,.rightside-details4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 23.4px;
    vertical-align: baseline;
    letter-spacing: normal;
    font-weight: 400;
    font-stretch: 100%;
    text-align: start;
    color: #FFFFFF;
    margin: 0px;
}
.rightside-details1{
    margin-bottom: 25px;
}
.SV{
    margin-bottom: 70px;
}
.divition10 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;
}
.imagecolumn1, .imagecolumn2, .imagecolumn3, .imagecolumn4 {
    display: flex;
    flex-direction: column;
    width: 320px;
    justify-content: space-evenly;
}
.rightside-details7 {
    margin: 18px 0px 0px; /* Add margin between the links for spacing */
    text-decoration: none;
    color: #FFFFFF; /* Set the color of the links */
    font-size: 18px;
    line-height: 23.4px;
    letter-spacing: -0.28px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
}
.textportion8{
    display: flex;
    flex-direction: row;
    align-items: center;

}
#myBtn {
    display: none; /* Hide the button by default */
    bottom: 20px; /* Place the button 20 pixels from the bottom */
    right: 30px; /* Place the button 30 pixels from the right */
    background-color:black; /* Background color */
    color: white; /* Text color */
    position:fixed ;
    border: none; /* Remove border */
    padding: 10px 20px; /* Padding */
    border-radius: 5px; /* Optional: Add rounded corners */
    cursor: pointer; /* Cursor on hover */
}

#myBtn:hover {
    background-color: #0000FF; /* Darker background color on hover */
}
